@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  --color-neutral-900: hsl(227, 75%, 14%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);

  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);

  --color-light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --color-dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

p
{
  font-size: 16px;
}

body
{
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    min-height: 100vh;
    padding: 20px;
    color:white
}

.mainBody
{
  width: 80%;
  margin: 0 auto 0 auto;
}

.navbar
{
    background-color: var(--color-neutral-800);
    width: 100%;
    padding: 10px;
    border-radius: 2vh;
}

.themeChanger
{
    background-color: var(--color-neutral-700);
    width: 35px;
    height: 35px;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid var(--color-red-500);
}

.themeChanger:hover
{
    background-color: var(--color-neutral-600);
}

.themeChanger:focus
{
    background-color: var(--color-neutral-700);
    border: 2px solid var(--color-red-500);
}

.row
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.alignCenter
{
    align-items: center;
}

.column
{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.filterBtn
{
    background-color: var(--color-neutral-700);
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 20px 0 20px;
    cursor: pointer;
    user-select: none;
}

.space-between
{
    justify-content: space-between;
}

.filters
{
    gap: 5px;
}

.activeFilter
{
    background-color: var(--color-red-500);
    color: var(--color-neutral-900);
}

.card
{
    background-color: var(--color-neutral-800);
    border: 2px solid var(--color-neutral-600);
    border-radius: 2vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.removeBtn
{
    background-color: transparent;
    color: white;
    border: 2px solid var(--color-neutral-600);
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 20px 0 20px;
    transition: all;
}

.removeBtn:focus
{
    background-color: var(--color-neutral-700);
    border: 3px solid var(--color-red-500);
    font-weight: bold;
}

.removeBtn:hover
{
    background-color: var(--color-red-500);
    color: var(--color-neutral-900);
    border: 2px solid var(--color-red-500);
}

.cardSub
{
    color: var(--color-neutral-300);
}

.grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.m-5
{
    margin: 0 15px 0 15px;
}

.cardTitle
{
    margin: 0;
}

@media screen and (max-width: 1280px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .row.breakMobile
  {
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: center;
    align-self: center;
  }
  body
  {
    padding: 0;
  }
}